.buttonClass {
    background: black;
    border: none;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 20px;
    outline: 0;
}
.Anime {
    transform: translateY(105px);
}
.buttonClass:active {
    outline: 0;
}